/* oxygen-300 - latin */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oxygen-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/oxygen-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oxygen-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oxygen-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oxygen-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oxygen-v10-latin-300.svg#Oxygen') format('svg'); /* Legacy iOS */
  }
  /* oxygen-regular - latin */
  @font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxygen-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/oxygen-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oxygen-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oxygen-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oxygen-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oxygen-v10-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
  }
  /* oxygen-700 - latin */
  @font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oxygen-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/oxygen-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oxygen-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oxygen-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oxygen-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oxygen-v10-latin-700.svg#Oxygen') format('svg'); /* Legacy iOS */
  }
   /* press-start-2p-regular - latin */
  @font-face {
     font-family: 'Press Start 2P';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/press-start-2p-v9-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/press-start-2p-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/press-start-2p-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/press-start-2p-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/press-start-2p-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/press-start-2p-v9-latin-regular.svg#PressStart2P') format('svg'); /* Legacy iOS */
   }
  /* ArcadeClassic http://www.cufonfonts.com */

  @font-face {
    font-family: 'ArcadeClassic';
    font-style: normal;
    font-weight: normal;
    src: local('ArcadeClassic'), url('../fonts/ARCADECLASSIC.woff') format('woff'); /* Modern Browsers */
    }




    